h1{
    color: #d728de;
    text-align: center;
}
img{
    max-width: 75%;
    text-align: center;
}
div{
    text-align: center;
    width:25%;
    float: left;
    margin: 15px 15px 15px 15px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #42403e;
}



